div{
  float:left;
}
.Vert{
  background-color: #2ecc71;
  height: 35px;
  width: 80%;
}
.BleuCiel{
  background-color: #2980b9;
  height: 35px;
  width: 20%;
}
.Rouge{
  background-color: #e74c3c;
  height: 100px;
  width: 31%;
}
.Beige{
  background-color: #e67e22;
  height: 50px;
  width: 34.5%;
}
.Gris{
  background-color: #95a5a6;
  height: 50px;
  width: 34.5%;
}
.Jaune{
  background-color: #f39c12;
  height: 50px;
  width: 23%;
}
.BleuTurquoise{
  background-color: #16a085;
  height: 50px;
  width: 23%;
}
.Orange{
  background-color: #d35400;
  height: 50px;
  width: 23%;
}
.Bleu{
  background-color: #2c3e50;
  height: 150px;
  width: 100%;
}
